:root {
    --font-color: #ca791b;
    --backgroundBB: #877367;
    --backgroundCC: #4e775f;
    --backgroundCC-cc: #517c63;
    --font-wh: #fff;
    --color-logo: #867063;
}


.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    line-height: 100px;
    transition: 0.5s;
    border-bottom: 1px solid transparent;
    color: #fff;
}

.header h1 a {
    display: inline-block;
    width: 200px;
    height: 62px;
    background: url(../images/LOGOO.png) no-repeat center center/cover;
    font-size: 0;
    vertical-align: middle;
}

.header.on h1 a {
    background: url(../images/LOGO.png) no-repeat center center/cover;
}

.header.on {
    line-height: 80px;
    color: #202124;
    background: var(--font-wh);
    border-bottom: 1px solid #ddd;
}


.header_wrap {
    line-height: 100px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.header_wrap h1 img {
    max-width: 40%;
}


.header .header_wrap .gnb {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;

    white-space: nowrap;
    word-break: keep-all;
    white-space: nowrap;
}




.header .header_wrap .gnb>ul {
    display: flex;
    gap: 60px;
}

.header .header_wrap .gnb>ul>li>a {
    font-size: 20px;
    font-weight: 500;
    color: #fff;

}

.header.on .gnb>ul>li>a {
    color: #202124;
}

.header .header_wrap .util a {
    padding: 8px 24px;
    background: var(--font-color);
    border: 1px solid var(--font-color);
    border-radius: 10px;
    color: var(--font-wh);
}

.header .header_wrap .mopen {
    display: none;
}

@media(max-width:768px) {
    .header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000;
        line-height: 100px;
        transition: 0.5s;
        border-bottom: 1px solid transparent;
        background: #fff;
    }

    .header h1 a {
        display: inline-block;
        width: 200px;
        height: 62px;
        background: url(../images/LOGO.png) no-repeat center center/cover;
        font-size: 0;
    }

    .header_wrap {
        line-height: 80px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }


    .header_wrap h1 img {
        max-width: 30%;
    }


    .header .header_wrap .gnb {
        position: fixed;
        top: 80px;
        left: 50%;
        transform: translate(-50%, 0);
        z-index: 1000;
        width: 100%;
        height: 0;
        background: #fff;
        overflow: hidden;
        text-align: center;
        transition: 0.5s;
    }

    .header .header_wrap .gnb.on {
        height: 320px;
    }

    .header .header_wrap .gnb>ul {
        flex-direction: column;
        gap: 0;
    }

    .header .header_wrap .gnb>ul>li {
        border-top: 1px solid #ddd;
    }

    .header .header_wrap .gnb>ul>li>a {
        color: #202124;
    }

    .header .header_wrap .util {
        display: none;
    }

    .header .header_wrap .mopen {
        display: block;
        position: fixed;
        right: 30px;
        top: 30px;
        line-height: 1;
    }

    .header .header_wrap .mopen .hamburger {
        padding: 0 0;
    }



}

.main_visual .main_visual_slide .itm {
    position: relative;
    height: 100vh;
    border-bottom-right-radius: 300px;
}

.main_visual .main_visual_slide .itm01 {
    background: url(../images/main_visual01.jpg) no-repeat center center/cover;
}

.main_visual .main_visual_slide .itm02 {
    background: url(../images/main_visual02.jpg) no-repeat center center/cover;
}

.main_visual .main_visual_slide .itm03 {
    background: url(../images/main_visual03.jpg) no-repeat center center/cover;
}

.main_visual .scroll {
    position: absolute;
    bottom: 2%;
    right: 2%;

    font-size: 0;
    width: 32px;
    height: 48px;
    border: 2px solid var(--font-color);
    border-radius: 16px;
}

.main_visual .scroll:after {
    content: "";
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translate(-50%, 0);

    width: 4px;
    height: 10px;
    background: var(--font-color);
    border-radius: 2px;

    animation: wheel 0.5s infinite;
}

@Keyframes wheel {
    0% {
        transform: translate(-50%, 0);
    }

    100% {
        transform: translate(-50%, 25%);
    }
}

@media(max-width:768px) {
    .main_visual .main_visual_slide .itm {
        position: relative;
        height: 100vh;
        border-bottom-right-radius: 200px;
    }

    .main_visual .main_visual_slide .itm01 {
        background: url(../images/main_visual01.jpg) no-repeat center center/cover;
    }

    .main_visual .main_visual_slide .itm02 {
        background: url(../images/main_visual02.jpg) no-repeat center center/cover;
    }

    .main_visual .main_visual_slide .itm03 {
        background: url(../images/main_visual03.jpg) no-repeat center center/cover;
    }


}

.main_regular .content_tab ul {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin: 0 0 36px 0;
}

.main_regular .content_tab .tab_menu>li {
    font-weight: 600;
}

.main_regular .content_tab .tab_menu>li>a {
    border: 1px solid #ca791b;
    border-radius: 10px;
    display: block;
    padding: 12px 32px;
}

.main_regular .content_tab .tab_menu>li>a.on {
    background: #ca791b;
    color: #fff;
}


.main_regular .tab_content li {
    display: none;
}

.main_regular .tab_content li>* {
    flex: 1;
}

.main_regular .tab_content li.on {
    display: flex;
    gap: 20px;
    margin: 0 0 28px 0;
}

.main_regular .tab_content li a figure img {
    height: 250px;
    min-height: 250px;
}



.main_regular .tab_content .txt {
    padding: 24px;

}

.main_regular .tab_content .txt strong {
    display: block;
    text-align: center;
    margin: 0 0 16px 0;

    font-size: 18px;
    font-weight: 600;
    color: var(--font-color);

}

.main_regular .tab_content .txt p {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

.main_regular .content_btn {
    text-align: center;
}

.main_regular .content_btn a {
    font-size: 18px;
    border: 1px solid #ca791b;
    background: #ca791b;
    padding: 16px 40px;
    border-radius: 10px;
    color: #ca791b;
    color: #fff;
}

.main_content {
    position: relative;

}

.main_content .main_content_box {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 15px;
}

.main_content::before {
    content: "";
    position: absolute;
    inset: 0 0 0 0;

    background: url(../images/main_contentBG.jpg) no-repeat center/cover;
    filter: grayscale(1);
}

.main_content::after {
    content: "";
    position: absolute;
    inset: 0 0 0 0;
    background: var(--backgroundBB);
    opacity: 0.9;
}

.main_content .main_content_box {
    position: relative;
    z-index: 999;
}

.main_content .main_content_box .title strong {
    display: block;
    color: var(--font-wh);
    font-size: 40px;
    font-weight: 600;
    margin: 0 0 20px 0;
}

.main_content .main_content_box .title p {
    font-size: 20px;
    color: var(--font-wh);
    font-weight: 300;

}

.main_content .main_content_box .title .span_box {
    color: #e2ddb3;
    font-weight: 500;
}

.main_content .main_content_box .itm_box {
    display: flex;
    gap: 20px;
    margin: 0 0 24px 0;
    flex-wrap: wrap;
}


.main_content .main_content_box .itm_box>* {
    flex: 1 0 350px;
    border: 1px solid #E2E2E2;
    overflow: hidden;
    background: var(--font-wh);
    padding: 40px;
    text-align: center;
    border-radius: 10px;
    margin: 0 0 36px 0;
    vertical-align: middle;
}

.main_content .main_content_box .itm_box .itm figure {

    height: 100px;
    margin: 0 0 8px 0;
}

.main_content .main_content_box .itm_box .itm figure img {
    width: 100px;
}

.main_content .main_content_box .itm_box .itm .txt {
    text-align: center;
}

.main_content .main_content_box .itm_box .itm .txt strong {
    display: block;
    margin: 0 0 12px 0;
    font-size: 20px;
    font-weight: 700;
    color: #8a766a;
}

.main_content .main_content_box .itm_box .itm .txt p {
    font-size: 14px;
}



.main_content .main_content_box .itm_box_box {
    text-align: center;
}

@media(max-width:768px) {
    .main_content .main_content_box .itm_box>* {
        flex: 1 0 250px;

    }
}

.inside {
    position: relative;
}

.inside .title h3 {
    margin: 0 0 16px 0;
}

.inside .title p {
    font-size: 18px;
    margin: 0 0 48px 0;
}

/* .inside::before {
    content: "";
    position: absolute;
    inset: 0 0 0 0;

    background: url(../images/asid_BG.jpg) no-repeat center/cover;
    filter: grayscale(1);
}

.inside::after {
    content: "";
    position: absolute;
    inset: 0 0 0 0;
    background: rgb(81, 124, 99);
    opacity: 0.9;
} */

.inside .inside_box {
    position: relative;
    z-index: 999;
}

.inside .inside_box .inside_box_box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 30px;
}

.inside .inside_box .inside_box_box .itm {
    background: url(../images/asid_guideBG.jpg)no-repeat center center/cover;
    padding: 32px 40px;
    border-radius: 10px;
    border: 1px solid #ca791b;
}

.inside .inside_box .itm_box iframe {
    justify-content: center;
    width: 100%;
    height: 600px;
    margin: 0 0 80px 0;
}


.inside .inside_box .inside_box_box .itm strong {
    display: block;
    margin: 0 0 8px 0;
    font-size: 28px;
    font-weight: 800;
    color: rgb(81, 124, 99);
    line-height: 78px;
}



.inside .inside_box .inside_box_box .itm span {
    display: block;
    color: rgb(79, 79, 79);
    margin: 0 0 40px 0;
    line-height: 1px;
    font-weight: 500;
}

.inside .inside_box .inside_box_box .itm p {
    line-height: 24px;
    margin: 0 0 28px 0;
}

.inside .inside_box .inside_box_box .itm a {
    border: 1px solid #ca791b;
    background: #ca791b;
    border-radius: 5px;
    padding: 8px 24px;
    color: var(--font-wh);
}

@media(max-width:768px) {
    .inside {
        position: relative;
    }

    .inside .inside_box .inside_box_box {
        display: flex;
        flex-direction: column;
    }

    .inside .title h3 {
        margin: 0 0 16px 0;
    }

    .inside .title p {
        font-size: 18px;
        margin: 0 0 48px 0;
    }

    .inside .inside_box {
        position: relative;
        z-index: 999;
    }

    .inside .inside_box .inside_box_box {
        flex-direction: column;
    }

    .inside .inside_box .inside_box_box .itm {
        background: url(../images/asid_guideBG.jpg)no-repeat center center/cover;
        padding: 32px 40px;
        border-radius: 10px;
        border: 1px solid #ca791b;
        word-break: nowrap;
    }

    .inside .inside_box .itm_box iframe {
        justify-content: center;
        width: 100%;
        height: 600px;
        margin: 0 0 80px 0;
        word-break: keep-all;
    }


    .inside .inside_box .inside_box_box .itm strong {
        display: block;
        margin: 0 0 8px 0;
        font-size: 3vw;
        font-weight: 800;
        color: rgb(81, 124, 99);
        line-height: 78px;
        word-break: keep-all;
        white-space: nowrap;
    }



    .inside .inside_box .inside_box_box .itm span {
        display: inline-block;
        color: rgb(79, 79, 79);
        margin: 0 0 40px 0;
        line-height: 1px;
        font-weight: 500;
        width: 200px;
        white-space: nowrap;
        font-size: 2vw;
    }

    .inside .inside_box .inside_box_box .itm p {
        line-height: 24px;
        word-break: keep-all;
        white-space: nowrap;
        font-size: 2vw;
    }

    .inside .inside_box .inside_box_box .itm a {
        border: 1px solid #ca791b;
        background: #ca791b;
        border-radius: 5px;
        padding: 8px 24px;
        color: var(--font-wh);
    }
}

.main_company {
    background: #f7f4eb;
}

.main_company .main_company_slide {
    max-width: 1600px;
    margin: 0 auto;
}

.main_company .main_company_slide .itm {
    padding: 0 20px 0 0;

}

.main_company .main_company_slide .itm img {
    background: var(--font-wh);
    width: 150px;
    border-radius: 15px;
}

@media(max-width:768px) {
    .main_company .main_company_slide .itm {
        padding: 0 15px;

    }
}

.footer {
    padding: 40px 0 60px 0;
    background: #444;
}

.footer .inner address {
    display: flex;
    gap: 80px;
}

.footer .inner address h1 img {
    width: 350px;
}

.footer .inner address ul>li {
    display: inline-block;
    margin: 0 18px 14px 0;
    color: #e5e7eb;
}

.port {
    font-weight: 800;
    font-size: 32px;
    line-height: 40px;
}

@media(max-width:768px) {
    .footer {
        padding: 40px 0 60px 0;
        background: #444;
    }

    .footer .inner address {
        flex-direction: column;
        gap: 0;
    }

    .footer .inner address h1 img {
        width: 250px;
        margin: 0 0 24px 0;
    }

    .footer .inner address ul>li {
        display: inline-block;
        margin: 0 18px 14px 0;
        color: #e5e7eb;

        word-break: keep-all;
        line-height: 28px;
        font-size: 2vw;
    }

    .port {
        font-weight: 800;
        line-height: 40px;
    }
}